.button {
    &.sd-button {
        @include flexCenter;
        height: fit-content;
    }

    &.sd-button--danger {
        background-color: #ce2727;
        color: #ffffff;
        border: none;

        &:hover {
            background-color: lighten(#ce2727, 10);
            color: #ffffff;
        }
    }
}