.sdgl-media {
    &__image-preview-wrapper {
        margin-bottom: 10px;

        img {
            height: auto;
            max-width: 200px;
        }
    }

    &__remove-wrapper {
        margin-top: 10px;
    }
}

#sdgl-sliders {
    .sdgl-media__image-preview-wrapper {
        img {
            max-width: 150px;
        }
    }
}